.DS_Store
/node_modules
/packages/**/dist
/packages/*/node_modules
/example/packages/*/node_modules
/example/packages/*/es
/example/packages/*/dist
/packages/*/src/.umi
/packages/*/src/.umi-production
/packages/*/src/.umi-test
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
